/*COLORS*/
$backgroundColorPrimary: white;
$backgroundColorSecondary: #f7f7f7;

$colorPrimary: #3aafbf;

$textPrimary: #333c4e;
$textSecondary: white;

$fbColor: #3c5998;
$twColor: #54acee;
$igColor: #3f729b;

$emergencyColor: #3aafbf;
$expertColor: #3597c3;
$superbColor: #327ec7;

/*PADDINGS*/
$baseSectionPaddings: 8rem;