@use "./partials/variables" as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";


.cta {

    display: inline-block;
    padding: 1rem 3rem;
    text-decoration: none;
    color: inherit;
    font-size: 2rem;

    &.primary {

        background-color: $colorPrimary;

    }

    
    &.secondary {

        border: 2px solid white;

    }

    &.third {

        border:2px solid $textPrimary;

    }

}

.primary-color {

    color: $colorPrimary;

}


.text-secondary {

    color: $textSecondary;

}

section {

    padding: 8rem 2rem;

}


.social {

    font-size: 2rem;
    text-align: center;
    line-height: 30px;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    margin-right: 1rem;

    &.fa-facebook-f {

        background-color: $fbColor;

    }

    &.fa-twitter {

        background-color: $twColor;

    }

    &.fa-instagram {

        background-color: $igColor;

    }

    &.fa-youtube {

        background-color: #cd201f;

    }

}


.underline {

    
    &::after {

        content: "";
        display: block;
        height: 2px;

    }

    
    &.center-primary::after {

        margin: 2rem auto;
        width: 33%;
        background-color: $textPrimary;

    }

    
    &.center-white::after {

        margin: 2rem auto;
        width: 33%;
        background-color: $textSecondary;

    }
    
    &.all-primary::after {

        margin: 2rem 0;
        width: 100%;
        background-color: $textPrimary;

    }

    &.start-blue::after {

        margin: 2rem 0;
        width: 10%;
        background-color: $colorPrimary;

    }

}

.department::before {

    content: ">";
    color: $textSecondary;
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    background-color: $colorPrimary;
    border-radius: 50%;
    font-weight: bold;
    font-size: 2rem;


}
